.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.git
/.next/
/out/
.gitignore
docker.sh
Dockerfile
Dockerfile.multi
README.md
/src/protos/*.js
/src/protos/*.d.ts
/src/electron
!/src/electron/typings
# /src/electron/node_modules
# /src/electron/dist
# /src/electron/el-build

/node_modules
/src/config.temp.json
/build
# package-lock.json
# yarn.lock
/server
/protos