@charset "UTF-8";
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  --saki-default-color: #f29cb2;
  --saki-default-bottom-border-color: #f29cb2;
  --saki-default-hover-color: #f185a0;
  --saki-default-active-color: #ce5d79;
  --saki-defalut-border-color: #f1f1f1;
  --saki-maintitle-color:#000
  --saki-subtitle-color:#999
  --saki-subtitle-select-color:#222
  /* Button Normal */
  --saki-button-loading-color: #5ec9f0;
  --saki-button-loading-border-color: #f3f3f3;
  --saki-button-normal-bg-color: #f29cb2;
  --saki-button-normal-bg-hover-color: #f1f3f4;
  --saki-button-normal-bg-active-color: #ddd;
  --saki-button-circle-icon-gray-hover-bg-color: #fff;
  --saki-button-circle-icon-gray-hover-bg-hover-color: #f1f3f4;
  --saki-button-circle-icon-gray-hover-bg-active-color: #ddd;
  /* --saki-button-normal-hover-color: #ddd;
  --saki-button-normal-active-color: #ccc; */
  --saki-chat-dialog-right-border-color: #f29cb2;
  --saki-chat-dialog-bg-color: #fff;
  --saki-chat-dialog-bg-hover-color: #f1f3f4;
  --saki-chat-dialog-bg-active-color: #ddd;
  --saki-chat-dialog-bg-select-color: #faebef;
  --saki-chat-dialog-message-color: #999;
  --saki-chat-dialog-time-color: #999;
  --saki-chat-dialog-time-select-color: #999;
  --saki-chat-dialog-context-menu-background-color:#eee;
  --saki-chat-dialog-count-bg-color: #ccc;
  --saki-chat-dialog-count-color: #fff;
  --saki-chat-bubble-left-bg-color:#e9b0be;
  --saki-chat-bubble-right-bg-color:#b3dff0;
  --saki-chat-bubble-content-border-radius:10px;
  --saki-chat-bubble-time-color:#888;
  --saki-chat-bubble-read-progress-color: #f185a0;
  --saki-chat-bubble-loading-color: #f185a0;
  --saki-chat-bubble-loading-active-color: #f3f3f3;
  --saki-chat-header-online-color: #248bb4;
  --saki-call-mini-video-width: 160px;
  --saki-loading-circle-bg-color: #f185a0;
  --saki-loading-circle-active-bg-color: #f3f3f3;
  --saki-menu-active-border-color: var(--saki-default-color);
  --saki-menu-active-background-color: #eee;
  --saki-drag-sort-selected-color: var(--saki-default-color);
}

html,
body {
  width: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
nuxt-link,
.noTextDec {
  text-decoration: none;
}

a.link-anima {
  position: relative;
  padding-bottom: 5px;
}
a.link-anima::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  background-color: var(--saki-default-bottom-border-color);
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
a.link-anima:hover::after {
  width: 40px;
}

.goodActive {
  display: inline-block;
  background-image: linear-gradient(to right, #6815cd, #2672fa);
  background-clip: text;
  color: transparent;
  animation: animateGood 0.5s linear forwards;
}

.goodNone {
  display: inline-block;
  animation: animateNone 0.5s linear;
}

@keyframes animateGood {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateNone {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.text-elipsis {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.text-two-elipsis {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scrollBarDefault {
  overflow: overlay !important;
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.scrollBarDefault::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.scrollBarDefault::-webkit-scrollbar:hover {
  background-color: rgba(0, 128, 0, 0);
}
.scrollBarDefault::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.scrollBarDefault::-webkit-scrollbar-track:hover {
  background-color: rgba(238, 238, 238, 0);
}
.scrollBarDefault::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ddd;
  transition: all 0.3s;
}
.scrollBarDefault::-webkit-scrollbar-thumb:hover {
  width: 10px;
  border-radius: 4px;
  background-color: #ccc;
}

.scrollBarHover {
  overflow: overlay !important;
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.scrollBarHover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(204, 204, 204, 0.4);
}
.scrollBarHover::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s;
  cursor: pointer;
}
.scrollBarHover::-webkit-scrollbar:hover {
  background-color: rgba(0, 128, 0, 0);
}
.scrollBarHover::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.scrollBarHover::-webkit-scrollbar-track:hover {
  background-color: rgba(238, 238, 238, 0);
}
.scrollBarHover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(221, 221, 221, 0.2);
  transition: all 0.3s;
}
.scrollBarHover::-webkit-scrollbar-thumb:hover {
  width: 10px;
  border-radius: 4px;
  background-color: rgb(204, 204, 204);
}

.scrollBarAuto {
  overflow: overlay;
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.scrollBarAuto:hover::-webkit-scrollbar-thumb {
  background-color: rgba(175, 175, 176, 0.431372549);
}
.scrollBarAuto::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.scrollBarAuto::-webkit-scrollbar:hover {
  background-color: rgba(19, 124, 19, 0);
}
.scrollBarAuto::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.scrollBarAuto::-webkit-scrollbar-track:hover {
  background-color: rgba(238, 238, 238, 0);
}
.scrollBarAuto::-webkit-scrollbar-track:hover::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.scrollBarAuto::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}
.scrollBarAuto::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background-color: #afafb0;
}

.saki-editor p {
  font-size: 14px;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
}

.saki-full-page {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=base.css.map */
