.invite-page {
	.logo-info {
		user-select: none;
		display: flex;
		justify-content: flex;
		align-items: center;
		img {
			width: 30px;
		}
		span {
			font-size: 16px;
			margin-left: 4px;
			font-weight: 500;
		}
	}
	.scs-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		.csc-m-info {
			// width: 100%;
			// max-width: 400px;
			margin: 0px 10px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			// border: 1px solid #eee;
			border-radius: 10px;
			padding: 20px;
			.csc-m-i-avatar {
				margin-top: 0px;
			}
			.csc-m-i-name {
				margin-top: 20px;
				font-size: 26px;
				font-weight: 500;
			}
			.csc-m-i-desc {
				margin-top: 4px;
				font-size: 14px;
				color: #999;
			}
			.csc-m-i-buttons {
				margin-top: 30px;
			}
			.csc-m-i-webapp {
				margin-top: 20px;
			}
		}
	}
}
