.call-component {
	width: 100%;
}
// .call-comp {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// .call-header {
// 	// padding: 0 10px;
// 	// .call-h-left {
// 	// }
// 	// .call-h-center {
// 	// }
// }
.call-header {
	.call-h-right {
		.call-h-r-hide {
			color: #fff;
			cursor: pointer;
		}
	}
}
.call-footer {
	.call-f-left {
		height: 30px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.call-f-l-switch-device {
			height: 30px;
			cursor: pointer;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			span {
				color: #fff;
				text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
				padding-right: 6px;
				font-size: 12px;
			}
			.call-f-l-s-icon {
				width: 14px;
				height: 14px;
				fill: #fff;
				text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
				transition: all 0.3s;
				&.active {
					transform: rotate(180deg);
				}
			}
		}
	}
}
.call-main {
	width: 100%;
	height: 100%;
	.call-video {
		width: 100%;
		height: 100%;

		background-color: #272822;
	}
}
.call-hint {
	.network-status {
		color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 8px 18px;
	}
}
.call-footer {
	width: 100%;
	// position: absolute;
	// bottom: 0;
	// right: 0;
	// display: flex;
	// justify-content: center;
	// background-image: linear-gradient(
	// 	180deg,
	// 	rgba(0, 0, 0, 0),
	// 	rgba(0, 0, 0, 0.2)
	// );
	// padding-bottom: 20px;
}

.call-notification-modal {
	padding: 20px 20px;
	.cnm-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 0;
		.cnm-h-left {
			margin-right: 10px;
			.cnm-h-l-avatar {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}
		.cnm-h-right {
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.cnm-h-r-left {
				// .cnm-h-r-l-nickname {
				// }
				.cnm-h-r-l-username {
					font-size: 14px;
					color: #666;
				}
			}
		}
	}
	.cnm-buttons {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
