.login-user-component {
	width: 100%;
	.lu-header {
	}
	.lu-main {
		width: 100%;
		.lu-m-warp {
			padding: 0 20px;
			.lu-m-title {
				text-align: center;
				font-size: 24px;
				font-weight: 700;
				margin: 15px 0 20px;
			}

			.l-m-more {
				margin-top: 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.l-m-m-right {
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}

				a,
				.item {
					color: #888;
					margin-left: 10px;
					transition: color 0.1s;
					cursor: pointer;
					&:hover {
						color: #666;
					}
					&:active {
						color: #444;
					}
				}
			}
		}
	}
}
