.user-info-component {
	width: 100%;
	height: 100%;
	.uic-container {
		padding: 10px 0 0;
		width: 100%;
		height: calc(100% - 56px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.uic-header {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0 20px 20px 20px;

			.uic-h-avatar {
				width: 90px;
			}
			.uic-h-info {
				flex: 1;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: flex-start;
				.uic-h-i-nickname {
					font-size: 18px;
					font-weight: 700;
				}
				.uic-h-i-memebers {
					color: #999;
					font-size: 13px;
				}
			}
		}
		saki-tabs {
			flex: 1;
		}
		.uic-item {
			display: flex;
			justify-content: space-between;
			width: 100%;
			.name {
			}
		}
		.uic-info-page {
			width: 100%;
			height: 100%;
			padding: 0 20px;
			.uic-i-buttons {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-top: 30px;
			}
		}
		.uic-members-page {
			width: 100%;
			height: 100%;
			.uic-m-header {
			}
		}
		.uic-settings-page {
		}
	}
}
