.chat-layout {
	width: 100%;
	height: 100%;
	overflow: hidden;
	.il-loading {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 11111;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: opacity 0.1s;
		opacity: 0;
		&.active {
			opacity: 1;
		}
		&.hide {
			display: none;
		}

		.loading-animation {
			position: absolute;
			top: calc(50% - 40px);
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: auto;
			transform: rotate(360deg);
			// opacity: 0;
			&::before,
			&::after {
				position: absolute;
				content: '';
				box-sizing: border-box;
				border-radius: 50%;
				transform: rotate(720deg);
			}
			&::before {
				animation: rotate 2s infinite ease-out;
			}

			&::after {
				animation: rotate 2s infinite ease-in-out;
			}
			&::before {
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				border-top: 3px solid var(--default-color);
				border-left: 3px solid var(--default-color);
				border-bottom: 3px solid transparent;
				border-right: 3px solid transparent;
			}

			&::after {
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				border-bottom: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 7px solid #fff;
				border-left: 7px solid #fff;
				transition: border-color 0.3s;
			}
			@keyframes rotate {
				100% {
					transform: rotate(0deg);
				}
			}
		}
		.loading-name {
			transform: translateY(60px);
			font-size: 22px;
		}
		.loading-logo {
			width: 160px;
			height: 160px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.loading-progress-bar {
			position: absolute;
			bottom: 60px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			max-width: 280px;
		}
	}
	.cl-connection-error {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(243, 243, 243);
		height: 40px;
		span {
			color: #555;
			transform: translateY(-2px);
		}
	}
	.cl-main {
		width: 100%;
		height: calc(100% - 50px);
		.cl-m-connecting {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: flex;
		}
		.cl-m-m-login {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		saki-chat-layout {
			width: 100%;
			height: 100%;
		}
		.cl-side-navigator {
			height: 100%;
			background-color: #fff;
			saki-chat-layout-side-navigator {
				height: 100%;
			}
		}
		.cl-m-main {
			width: 100%;
			height: 100%;
			.cl-m-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 50px;
				padding: 10px 8px;
				position: relative;
				&.Mobile {
					flex-direction: column;
					height: auto;
					.cl-m-h-left {
						width: 100%;
					}
					.cl-m-h-right {
						width: 100%;
						padding: 0 10px;
						justify-content: flex-start;
					}
				}
				.cl-m-h-left {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					.ip-dirpath {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding-left: 4px;
						.ip-d-item {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							span {
								font-size: 18px;
								@media screen and (max-width: 767px) {
									font-size: 16px;
								}
								color: #333;
							}
							&.active {
								span {
									font-weight: 700;
								}
							}
						}
					}
				}
				.cl-m-h-right {
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}
			}
			.cl-m-m-main {
				width: 100%;
				height: 100%;
			}
		}
	}
}
